.events_section {

    h2{
        margin-left: 15%;
    }

    .carusel_wrapper {
        min-height: 200px;
        display: flex;
        max-width: 100%;
        .control {
            width:15%;
            background-color: $main_clr;
            display: flex;
            .btns {
                display: flex;
                flex-direction: column;
                width: 30px;
                height: 100%;
                margin-left: auto;
                margin-right: 5px;

                button {
                    position: relative;
                }

                button:before {
                    content: "";
                    position: absolute;
                    left:0;
                    width:30px;
                    height: 70px;
                    background-image: url(../img/icon/arrow_white.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    cursor: pointer;
                    transition: all 0.4s ease;
                }

                .next_event_btn::before {
                    content: "";
                    top: 20px;
                }

                .next_event_btn:hover::before {
                    top: 15px;
                }

                .circle {
                    width:10px;
                    height:10px;
                    border-radius: 10px;
                    border: 1px solid white;
                    margin: auto;
                }

                .prev_event_btn::before {
                    content: "";
                    bottom: 20px;
                    transform: rotate(180deg);
                }

                .prev_event_btn:hover::before {
                    bottom: 15px;
                }
            }
        }

        .slodes {
            flex:1;
            max-width: 83%;
            margin-left: 2%;
        }

    }
}


@media (max-width:480px) {
    .events_section h2 {
        margin-left: 20px;
    }
}
