.header {
    height: 100px;
    display: flex;
    padding: $padding_20;
    position: relative;

    .logo {
        margin: auto auto auto 0;

        img{
            height: 75px;
            width:auto;
        }
    }
}

.main_header{
    position: absolute;
    width: calc(100% - 40px);
    z-index: 10000;
}

.no_main_header{
    position: relative;
    width: calc(100% - 40px);
    box-shadow: 0 0 5px #0000004d;

    .icon-menu_wrapper {
        top:calc(50px - 17px)
    }
}



@media (max-width:1024px) {
    .header {
        height: 60px;
        box-shadow: 0 0 5px #0000004d;
        .logo img {
            height: 45px;
        }
    }

    .main_header{
        position: relative;
    }

}
