.mobile-menu {
    position: fixed;
    top:0;
    left: 0;
    z-index: 300000;
    background-color: $main_clr;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;

    .header{
        width: 96%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        padding: 20px 2% 0 2%;
        box-shadow: none;

        .close_btn {
            position: relative;
            margin: auto 0 auto auto;
        }

        .close_btn::before {
            content: "";
            position: relative;
            display: block;
            width: 30px;
            height: 30px;
            left: 0;
            top:0;
            background-image: url(../img/icon/close.svg);
            background-position: center;
        }

    }

    .menu {
        text-align: center;
        padding-top: 40px;
        li {
            padding: 10px 0;
        }

        a{
            color:white;
            font-size: 18px;

        }
    }
}

.mobile-menu.active {
    display: flex;
}
