.presentation_section {
    width: 100%;

    position: relative;
    margin: 50px 0;

    .message {
        position: absolute;
        right:0;
        top:200px;
        display: flex;
        .text {
            background-color: $main_clr;
            color: white;
            padding: 40px 70px;
            width:700px;
        }

        .icon {
            width: 115px;
            height: 115px;
            background-image: url(../img/park_icon.jpg);
            background-size: contain;
            background-repeat: no-repeat;
        }

        h2{
            margin-top: 0;
        }
    }

    img {
        width:100%;
        height: auto;
        left: 0;
        top:0;
    }
}


@media (max-width:1024px) {
    .presentation_section .message .text {
        padding: 40px 50px;
        width: 400px;

        h2{
            font-size: 24px;
        }
    }
}


@media (max-width: 480px) {
    .presentation_section {
        display: flex;
        flex-direction: column;
        .message {
            width:100%;
            position: unset;

        }
    }
}
