@import "vars";
@import "null";
@import "fonts";

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

a:before,
a:after,
a{
    transition: all .4s ease
}

.no_show {
    display: none;
}

h1{
    color:yellow;
}

section {
    h2{
        font-size:40px
    }
}

@media (max-width:480px) {

    section {
        h2{
            font-size:24px;
        }
    }
}



.arrow_lnk {
    color:$main_clr;
    font-size: 14px;
    position: relative;
    padding-right: 47px;

    &:hover::after {
        content: "";
        right: 0;
    }
    &.white{
        color: white;
    }

    &::after{
        content: "";
        position: absolute;
        height: 10px;
        width:33px;
        right: 5px;
        top:5px;
        background-image: url(../img/icon/arrow.svg);
        background-position: center;
        background-repeat: no-repeat
    }

    &.white::after{
        background-size: contain;
        background-image: url(../img/icon/arrow_white_right.svg);
    }
}

@import "scroll";
@import "header";
@import "icon-menu";
@import "banner_slider";
@import "events";
@import "event-element";
@import "presentation-blk";
@import "mobile-menu";
